@media (max-width: 1400px) {
    .sliders1-container-1 .swiper-button-next, .sliders1-container-1 .swiper-button-prev, .sliders1-container-2 .swiper-button-next, .sliders1-container-2 .swiper-button-prev {
        top: unset;
        bottom: 0px;
    }
    .sliders__header-wrapper {
        padding: 0;
    }
    .sliders {
        padding: 0 20px;
    }
    .sliders1-container .swiper-slide {
        margin-left: 0;
        margin-right: 0;   
    }
    .menu {
        left: 0;
    }
    .hero2__right {
        width: 55%;
    }
    .hero2__left {
        width: 65%;
    }
    .hero2__left, .hero2__right {
        height: 670px;
    }
    .hero2__right {
        margin-right: 2px;
    }
    .hero2__left-btns {
        margin-top: 45px;
    }
    .hero2__left-title {
        font-size: 38px;
        line-height: 48px;
    }
    .hero2__left-item, .hero2__left-item-span {
        font-size: 22px;
        line-height: 28px;
    }
    .swiper-container-hero2 .swiper-pagination {
        bottom: 17px;
    }
    .swiper-container-hero2 .swiper-button-next, .swiper-container-hero2 .swiper-button-prev {
        bottom: 2px;
    }
    .hero2-wrapper {
        margin-left: 0;
        padding-left: 20px;
    }
    /* .sliders__wrapper {
        margin: 0;
        padding: 0 20px;
    } */
    .header__links-fav {
        margin-right: 10px;
    }
    .header__links-route-pic {
        margin-right: 10px;
    }
    .stocks__right {
        margin-right: 0;
        padding-right: 20px;
        padding-left: 20px;
    }
    .contacts__content-text {
        margin-bottom: 20px;
    }
    .about__left {
        margin-left: 0;
    }
    .container {
        padding: 0 20px;
    }
    .contacts__info {
        padding-right: 20px;
        margin-right: 0;
    }
    #map {
        padding-right: 40px;
    }
    .about__left {
        padding-left: 20px;
    }
    .ideas__right {
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ideas__title-2 {
        width: 10%;
    }
    .advantages__item {
        width: 47%;
    }
    .advantages__item:nth-child(1), .advantages__item:nth-child(2), .advantages__item:nth-child(3) {
        margin-bottom: 0;
    }
    .advantages__item {
        padding: 30px 0;
    }
    .advantages__item-text {
        bottom: 53px;
    }
    .footer__top-categories {
        width: 53%;
    }
    .callback__form-input-wrapper-name, .callback__form-input-wrapper-tel {
        width: 18%;
    }
    .callback__form-select {
        width: 35%;
    }
    .callback__title {
        font-size: 32px;
    }
    .contacts__content-text {
        font-size: 24px;
    }
    .contacts__title {
        margin-bottom: 30px;
    }
    .m500-s24-l36 {
        font-size: 22px;
        line-height: 30px;
    }
    #map {
        height: 600px;
    }
    .grid-container {
        grid-template-rows: 384px 211px;
        gap: 10px 0px;
    }
    .catalog-text {
        left: 20px;
        bottom: 15px;
        font-size: 28px;
    }
    .upper {
        gap: 10px 10px;
    }
    .lower {
        gap: 0px 10px;
    }
    .catalog-block {
        background-position: center;
    }
    .lower-right {
        background-position: bottom;
    }
    .catalogies-1, .catalogies-2 {
        height: 348px;
    }
    .catalogies-3 {
        height: 200px;
    }
    .cat-text {
        font-size: 22px;
        bottom: 8px;
        left: 8px;
    }
    .menu {
        left: 20px;
    }
    .sliders1__square {
        width: 45%;
    }
    .sliders__header-wrapper {
        padding: 0;
    }
    .sliders1-container-1 .swiper-button-prev, .sliders1-container-2 .swiper-button-prev {
        left: 70px;
    }
    .sliders1-container-1 .swiper-button-next, .sliders1-container-2 .swiper-button-next {
        right: 70px;
    }
}
@media (max-width: 1200px) {
    .sliders1-container-1 .swiper-button-next::after, .sliders1-container-1 .swiper-button-prev::after, .sliders1-container-2 .swiper-button-next::after, .sliders1-container-2 .swiper-button-prev::after {
        font-size: 26px;
    }
    .sliders1__square {
        width: 35%;
    }
    .sliders1__info {
        width: 63%;
    }
    .sliders1__long {
        width: 80%;
    }
    .menu {
        top: 88px;
    }
    .main {
        margin-top: 88px;
    }
    .hero2__left-btn {
        padding: 20px 14px;
    }
    .hero2__left-btn {
        padding: 20px 14px;
        font-family: 'montserratmedium';
        font-size: 18px;
    }
    .header__logo-img {
        width: 70px;
    }
    .header__item-link, .header__links-route-text {
        font-size: 17px;
    }
    .header__links-fav-pic {
        width: 23px;
    }
    .header__links-route-pic {
        width: 16px;
    }
    .header__contacts-tel, .header__contacts-callback {
        font-size: 18px;
    }
    .contacts-wrapper {
        flex-direction: column;
    }
    .map-wrapper {
        margin-bottom: 40px;
    }
    #map {
        height: 450px;
        padding-right: 0px;
        margin-top: 0;
    }
    #map, .contacts__info {
        width: 100%;
    }
    .contacts__info {
        overflow: hidden;
        max-width: unset;
        padding: 0 20px;
    }
    .m300-s24-l36 {
        font-size: 22px;
        line-height: 32px;
    }
    .m500-s24-s29 {
        font-size: 22px;
    }
    .about__title {
        margin-bottom: 20px;
        font-size: 32px;
    }
    .about__text {
        padding-right: 30px;
    }
    .ideas__title-1, .ideas__title-3 {
        font-size: 23px;
    }
    .ideas__title-2 {
        margin: 0px 5px;
    }
    .btn-p-25-71 {
        padding: 15px 60px;
    }
    .footer__top-logo-pic {
        width: 90px;
    }
    .callback {
        padding: 45px 0;
    }
    .mb180 {
        margin-bottom: 90px;
    }
    .contacts-wrapper {
        padding-bottom: 100px;
    }
    .footer__bottom-logo-pic {
        width: 150px;
    }
}
@media (max-width: 992px) {
    .hidden-menu-item {
        display: block;
    }
    .menu {
        top: 70px;
    }
    .hero2__left-btns {
        width: 60%;
        flex-direction: column;
        align-items: stretch;
    }
    .hero2__left-cost {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    .hero2__left-item:not(:last-child) {
        margin-right: 10px;
    }
    .hero2__left-btn {
        padding: 14px 14px;
    }
    .hero2__left-title {
        font-size: 28px;
        line-height: 34px;
    }
    .hero2__left-item, .hero2__left-item-span {
        font-size: 18px;
        line-height: 26px;
    }
    .header__list {
        display: none;
    }
    .header__burger {
        order: -1;
    }
    .header__logo-img {
        width: 60px;
    }
    .main {
        margin-top: 70px;
    }
    .header {
        padding: 9px 0;
    }
    .title {
        font-size: 32px;
    }
    .footer__top {
        flex-direction: column;
        width: 85%;
        align-items: center;
    }
    .footer__top-logo {
        margin-bottom: 20px;
    }
    .footer__top-categories {
        margin-bottom: 30px;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__top-categories {
        width: 100%;
    }
    .footer__top-contacts {
        align-items: center;
    }
    .footer__top-contacts-tel-num {
        text-align: center;
    }
    .footer__top-contacts-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__top-contacts-socials-list {
        width: 100%;
        margin-left: 0;
    }
    .footer__top-contacts-socials-text {
        margin-bottom: 20px;
    }
    .callback__form {
        flex-direction: column;
        align-items: center;
    }
    .callback__form-input-wrapper-name, .callback__form-input-wrapper-tel, .callback__form-select {
        width: 60%;
        margin-bottom: 20px;
    }
    .callback__text, .callback__title {
        text-align: center;
    }
    .about__right {
        height: 500px;
        background-size: cover;
    }
    .ideas__left {
        height: 450px;
    }
    .btn-p-25-71 {
        font-size: 18px;
    }
    .sliders1__info-link {
        font-size: 14px;
    }
    .sliders1__info-text {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 22px;
    }
    .sliders1__info-title {
        margin-bottom: 15px;
        font-size: 24px;
    }
    .sliders1-container {
        height: 390px;
    }
    .sliders {
        padding: 0 15px;
    }
    .sliders1__square {
        width: 30%;
        height: 340px;
    }
    .sliders1__long {
        height: 150px;
    }
    .sliders1__info {
        width: 67%;
        bottom: 50px;
    }
    .sliders__option {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .popup {
        width: 400px;
        height: 400px;
        padding: 58px 50px 55px 50px;
    }
    .popup__title {
        font-size: 26px;
    }
    .sliders1__square {
        height: 320px;
    }
    .sliders1-container {
        height: 365px;
    }
    .sliders1__info-title {
        font-size: 20px;
    }
    .sliders1__info-text {
        font-size: 16px;
        line-height: 20px;
    }
    .hero2-wrapper {
        padding-left: 15px;
    }
    .hero2__left-list {
        flex-direction: column;
    }
    .hero2__left-item {
        margin-right: 0;
    }
    .hero2__left-item:not(:last-child) {
        margin-bottom: 15px;
    }
    .hero2__left-btns {
        width: 90%;
        margin-top: 20px;
    }
    .main {
        margin-top: 62px;
    }
    .header__contacts-tel, .header__contacts-callback {
        font-size: 16px;
    }
    .header__links-route-text {
        display: none;
    }
    .container {
        padding: 0 15px;
    }
    .header__links {
        width: 9%;
    }
    .header__logo-img {
        width: 50px;
    }
    .header__contacts-tel {
        margin-bottom: 5px;
    }
    .footer__bottom {
        flex-direction: column;
    }
    .footer__bottom-text {
        text-align: center;
    }
    .ideas__title-1, .ideas__title-3 {
        font-size: 20px;
    }
    .ideas__text {
        font-size: 20px;
    }
    .footer__bottom-conditions, .footer__bottom-text {
        margin-bottom: 20px;
    }
    .stocks__right-text {
        font-size: 22px;
    }
    .ideas-wrapper {
        flex-direction: column;
    }
    .ideas__left, .ideas__right {
        width: 100%;
    }
    .ideas__left {
        padding: 0 20px;
        height: 280px;
    }
    .ideas__right {
        align-items: center;
    }
    .ideas__text {
        text-align: center;
    }
    .ideas__title {
        justify-content: center;
        margin-bottom: 15px;
    }
    .ideas__text {
        margin-bottom: 15px;
    }
    .m500-s24-s29 {
        font-size: 18px
    }
    .advantages__item {
        width: 100%;
        padding: 10px 0;
    }
    .title {
        font-size: 22px;
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about__left, .about__right {
        width: 100%;
    }
    .about__left {
        order: 1;
    }
    .about__right {
        height: 280px;
        background-position: center;
    }
    .about__title {
        margin-top: 20px;
    }
    .m300-s24-l36 {
        font-size: 18px;
    }
    .contacts__content-item {
        width: 48%;
        margin-right: 0;
    }
    .footer__top {
        width: 100%;
    }
    .footer__top-item-link {
        font-size: 14px;
    }
    .footer__top-item-title {
        font-size: 14px;
    }
    .advantages__item-text {
        bottom: 22px;
    }
    .btn-p-25-71 {
        padding: 10px 25px;
        font-size: 16px;
    }
    .stocks__left {
        height: 280px;
    }
    .footer__top-contacts-tel-num {
        font-size: 20px;
    }
    .footer__top-contacts-tel {
        margin-bottom: 20px;
    }
    .footer__top-contacts-tel-callback {
        font-size: 16px;
    }
    .footer__top-contacts-socials-text {
        font-size: 18px;
    }
    .footer__vk {
        width: 30px;
    }
    .footer__inst {
        width: 24px;
    }
    .footer__fb {
        width: 16px;
    }
    .contacts__content-link-text {
        font-size: 18px;
    }
    .footer {
        padding: 15px 0;
    }
    .footer__bottom {
        margin-top: 30px;
    }
    .catalog-text {
        left: 5px;
        bottom: 5px;
        font-size: 18px;
    }
    .mb180 {
        margin-bottom: 50px;
    }
    .catalogies-3 {
        flex-direction: column;
        height: auto;
        margin: 0;
    }
    .catalogies-2 {
        margin: 0;
    }
    .catalogies-1-1, .catalogies-1-2 {
        height: 200px;
        margin: 0;
    }
    .catalogies-3-child, .catalogies-2, .catalogies-1-2, .catalogies-1-1 {
        height: 150px;
        width: 100%;
        margin: 0;
    }
    .catalogies-1, .catalogies-2 {
        width: 100%;
    }
    .catalogies-wrapper {
        display: initial;
    }
    .catalogies-1 {
        height: auto;
        margin: 0;
    }
    .catalog-item {
        margin-bottom: 15px;
    }
    .advantages__item-span {
        font-size: 62px;
    }
    .advantages__item-text {
        left: 88px;
        font-size: 14px;
        line-height: 18px;
    }
    .m300-s24-l36 {
        font-size: 16px;
        line-height: 22px;
    }
    .ideas__text {
        width: 70%;
    }
    .mb35 {
        margin-bottom: 20px;
    }
    .callback {
        padding: 20px 0;
    }
    .callback__title {
        font-size: 20px;
    }
    .callback__text {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .callback__form-btn {
        font-size: 18px;
    }
    .contacts__content-text {
        font-size: 20px;
    }
    .m500-s24-l36 {
        font-size: 18px;
        line-height: 22px;
    }
    .contacts__content-links {
        margin-top: 30px;
    }
    .contacts__content-link-text {
        font-size: 16px;
    }
    .contacts-wrapper {
        padding-bottom: 50px;
    }
    .cat-text {
        font-size: 18px;
    }
    .up-btn {
        right: 60px;
        bottom: 40px;
    }
    .up-btn-img {
        width: 50px;
    }
    .sliders__header-wrapper {
        padding: 0;
    }
}
@media (max-width: 530px) {
    .sliders1-container-1 .swiper-pagination .swiper-pagination-bullet, .sliders1-container-2 .swiper-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .sliders1-container-1 .swiper-pagination, .sliders1-container-2 .swiper-pagination {
        bottom: 13px;
    }
    .sliders1-container-1 .swiper-pagination .swiper-pagination-bullet, .sliders1-container-2 .swiper-pagination .swiper-pagination-bullet {
        margin: 0 15px;
    }
    .popup {
        width: 80%;
        height: 300px;
        padding: 48px 30px 55px 30px;
    }
    .popup__title {
        margin-bottom: 40px;
        font-size: 20px;
    }
    .popup__form {
        margin-bottom: 25px;
    }
    .popup__btn {
        padding: 10px 0;
        font-size: 18px;
    }
    .sliders1__long {
        height: 110px;
    }
    .sliders {
        padding: 0 10px;
    }
    .up-btn {
        right: 40px;
        bottom: 20px;
    }
    .up-btn-img {
        width: 40px;
    }
    .stocks__right {
        padding: 0 10px;
    }
    .footer__top-category:last-child {
        margin-left: 10px;
    }
    .cat-text {
        font-size: 18px;
    }
    .stocks__right-text {
        margin-bottom: 25px;
    }
    .container {
        padding: 0 10px;
    }
    .main {
        margin-top: 42px;
    }
    .header {
        padding: 5px 0;
    }
    .contacts__content-address {
        font-size: 18px;
        line-height: 24px;
    }
    .header__links-fav, .header__links-route-pic {
        margin-right: 5px;
    }
    .header__burger {
        width: 26px;
    }
    .header__logo-img {
        width: 35px;
    }
    .header__links-fav-pic {
        width: 18px;
    }
    .header__links-route-pic {
        width: 14px;
    }
    .header__contacts-tel, .header__contacts-callback {
        font-size: 12px;
    }
    .callback__form-input-wrapper-name, .callback__form-input-wrapper-tel, .callback__form-select {
        width: 79%;
    }
    .callback {
        margin-bottom: 0;
    }
    .hero2__left-btn {
        padding: 10px 5px;
    }
    .hero2__left-btn {
        font-size: 14px;
    }
    .hero2__left-title {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 24px;
    }
    .hero2__left-item, .hero2__left-item-span {
        font-size: 16px;
        line-height: 20px;
    }
    .hero2__left, .hero2__right {
        height: 575px;
    }
    .swiper-container-hero2 .swiper-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .swiper-container-hero2 .swiper-pagination {
        width: 70px;
    }
    .swiper-container-hero2 .swiper-button-next::after, .swiper-container-hero2 .swiper-button-prev::after {
        font-size: 18px;
    }
    .swiper-container-hero2 .swiper-button-next, .swiper-container-hero2 .swiper-button-prev {
        bottom: -1px;
    }
    .swiper-container-hero2 .swiper-button-next {
        left: 134px;
    }
    .sliders__header-wrapper {
        padding: 0;
    }
    .sliders__options-1 {
        margin-right: 20px;
    }
}
@media (max-width: 375px) {
    .sliders1-container-1 .swiper-pagination .swiper-pagination-bullet, .sliders1-container-2 .swiper-pagination .swiper-pagination-bullet {
        margin: 0 10px;
    }
    .sliders__option {
        font-size: 16px;
    }
    .popup__form-input:placeholder-shown {
        font-size: 15px;
    }
    .popup__form-input {
        font-size: 15px;
    }
    .popup__title {
        font-size: 17px;
    }
    .popup__form-input-span {
        font-size: 14px;
    }
    .sliders1__long {
        height: 70px;
    }
    .contacts__content-item, .callback__form-btn {
        width: 100%;
    }
    .footer__top-categories {
        flex-direction: column;
    }
    .contacts__content-item:nth-child(2) {
        margin-bottom: 20px;
    }
    .contacts__content-item {
        margin-bottom: 20px;
    }
    .callback__form-input-wrapper-name, .callback__form-input-wrapper-tel, .callback__form-select {
        width: 100%;
    }
    .footer__top-category {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-size: 18px;
        line-height: 22px;
    }
    .hero2__left-info {
        justify-content: flex-start;
        padding-top: 20px;
    }
    .hero2__left, .hero2__right {
        height: 515px;
    }
    .hero2__left-btn {
        font-size: 12px;
    }
}