.stocks-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stocks__left, .stocks__right {
    width: 50vw;
}
.stocks__right {
    max-width: 700px;
    margin-right: calc(50vw - 700px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.stocks__left {
    height: 480px;
    background-image: url('../images/stocks__pic-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.stocks__right-title {
    margin-bottom: 35px;
}
.stocks__right {
    padding-left: 80px;
}
/* .stocks__right-text, .stocks__right-title {
    padding-left: 110px;
}
.stocks__right-button {
    margin-left: 110px;
} */