* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
ul li {
    list-style-type: none;
}
.hidden {
    display: none;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.title {
    font-family: 'montserratbold';
    font-size: 40px;
}
.main {
    margin-top: 98px;
}
.mb35 {
    margin-bottom: 35px;
}
.mb180 {
    margin-bottom: 180px;
}
.m300-s24-l36 {
    font-family: 'montserratlight';
    font-size: 24px;
    line-height: 36px;
}
.m500-s24-l36 {
    font-family: 'montserratmedium';
    font-size: 24px;
    line-height: 36px;
}
.m500-s36-l44 {
    font-family: 'montserratmedium';
    font-size: 36px;
    line-height: 44px;
}
.m500-s24-s29 {
    font-family: 'montserratmedium';
    font-size: 24px;
    line-height: 29px;
}
.btn-p-25-71 {
    padding: 25px 71px;
    font-size: 22px;
    font-family: 'montserratmedium';
    border: none;
    color: white;
    background: #EE3D48;
    transition: all 0.3s ease-in-out;
}
.btn-p-25-71:hover {
    background: #FF646E;
}
button:hover, button:focus, input:hover, input:focus {
    outline: none;
    cursor: pointer;
}
.fs-0 {
    flex-shrink: 0;
}
.up-btn {
    z-index: 14;
    position: fixed;
    right: 80px;
    bottom: 80px;
}
.up-btn-img-path, .up-btn-img-circle {
    stroke: black;
    transition: all 0.3s ease-in-out;
}
.up-btn:hover .up-btn-img-circle {
    stroke: #EE3D48;
}
.up-btn:hover .up-btn-img-path {
    stroke: #EE3D48;
}
.main {
    position: relative;
    margin-top: 98px;
}
.body-lock {
    overflow: hidden;
}